/*font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
fontes do google*/
body{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu', sans-serif;
}
